*{
  scroll-behavior: smooth;
}
h1{
  text-align: center;
  font-size:3rem;
}

#BeASponsor{
  background-image: url("../src/assets/bg_spon.png");
  max-width: 100%;
  height: 50%;
  border: none;
  background-size: cover;
}


.footerContainer{
  height: 156vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
}

.footerBeASponsor{
  height:50vh;
  width:100vw;
  border: 1px solid white;
}

.footerBoxContainer{
  display: flex;
  height:18vh;
  width:70vw;
}

.footer-Box{
  border: 1px solid #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fb1{
  width: 22%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#fb2,#fb3{
  width: 39%;
}

#fb3{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

#fb3 div{
  display: flex;
  height: 100%;
  /* border: 1px solid ; */
  justify-content: center;
  align-items: center;
}

#footer-slider-1{
  text-align: center;
  /* border: 1px solid; */
  opacity: 0;
  min-width: 32%;
  animation: opacityIG 20s 1s infinite linear forwards;
}

#footer-slider-2,#footer-slider-3{
  min-width: 70%;
}

#footer-slider-3{
  animation: slideAnimation 20s 1s infinite linear forwards;
}

.footer-slider-common{
  font-weight: 800;
  min-width: 70%;
  font-size: 30px;
  animation: slideAnimation 20s 1s infinite linear forwards;
}

#fb2 a{
  height: 5vh;
  margin-left: 5%;
}

.fb1-icons{
  height: 5vh;
  margin-left: -15%;
}

#fb3 a{
  height: 3vh;
  margin-right: 15%;
}

#fb3 a img{
  height: 100%;
  border-radius: 100%;
}

@keyframes slideAnimation {
  0%{
    transform: translateX(0%);
  }
  25%,50%{
    transform: translateX(-100%);
  }
  75%,100%{
    transform: translateX(-700%);
  }
}

@keyframes opacityIG {
  0%{
    opacity: 0;
    transform: translateX(0%);
  }
  25%,50%{
    opacity: 1;
    transform: translateX(0%);
  }

  50%,75%{
    opacity: 1;
    transform: translateX(0%);
  }

  75%,100%{
    opacity: 1;
    transform: translateX(-1500%);
  }
}



/* Speakers */

.Speakers p{
  top:0;
  position: sticky;
}

.speakerCards{
  display: flex;
  justify-content: flex-start;
  overflow-x:none;
  padding: 15px;
}

.speakerCard img{
  height:30vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.speakerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 30vh;
  min-width: 30vh;
  margin: 3vw;
  border-radius: 10px;
  border: 2px solid #282828;
  height:40vh;
}

.speakerCard a{
  padding: 0;
  margin: 0;
}

.speakerCard span{
  font-weight: 600;
  font-size: 20px;
  margin-top: 2%;
}

.speakerCard p{
  font-weight: 300;
  font-size: 15px;
}

#SpeakerInfo{
  width:100vw;
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
}

.speaker-Description{
  height: 30vh;
  border: 2px solid #282828;
  height: 40vh;
  border-radius: 10px;
  font-size: 18px;
  padding: 5vh;
  margin-right:2vw;
  margin-left: 2vw;
}
#cs{
 max-width: 191px;
}
.sb{
  max-width: 110px;
}

#credit{
  margin-top: 15px;
  padding-left:30px;
  font-size:15px;

}

#creditt{
  margin: 2px;
  padding: 1px;
  font-size:18px;
}
.sbb{
  max-width: 90px;
}
#web:hover{
  color: #33FFA9;
}
@media (max-width: 768px) {
  #credit{
    margin-top: 20px;
    padding-left:20px;
    font-size:13px;
  
  }
  #web:hover{
    color: #33FFA9;
  }
  #creditt{
    margin: 2px;
    padding-left:0px;
    font-size:15px;
  }
  .speakerCards{
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 15px;
  }
  .sbb{
    max-width: 121px;
  }
  .sb{
    max-width: 156px;
  }
  .px-5{
    font-size: 13px;
  }
  #cs{
    max-width: 191px;
   }
   
  }

  .speaker-Description{
    height: 30vh;
    border: 2px solid #282828;
    height: 40vh;
    border-radius: 10px;
    font-size: 16px;
    padding: 5vh;
    margin-right:2vw;
    margin-left: 2vw;
  }
.regsitrationCard{
  width:30vw;
  height: 70vh;
  border: 1px solid rgba(157, 159, 161,0.5);
  border-radius: 15px;
  background-color: #0c0c0c;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  /* background-image: linear-gradient(360deg,#5B8A72,#004d42); */
}

.regsitrationCard h1{
  font-weight: 600;
  font-size: 30px;
  color: #33FFA9
}

.regsitrationCard p {
  font-weight: 400;
  font-size: 20px;
}

.regsitrationCard button{
  border: 1px solid;
  color: black;
  width:50%;
  height: 10%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background: white
}

.regsitrationCard:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255,0.4);
}

.headingRegistration{
  display:flex;
  font-size: 40px;
  align-items: center;
  /* justify-content: space-around; */
}