*{
  scroll-behavior: smooth;
}
h1{
  text-align: center;
  font-size:3rem;
}

.footerContainer{
  height: 156vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
}

.footerBeASponsor{
  height:50vh;
  width:100vw;
  border: 1px solid white;
}

.footerBoxContainer{
  display: flex;
  height:18vh;
  width:70vw;
}

.footer-Box{
  border: 1px solid #282828;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fb1{
  width: 22%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#fb2,#fb3{
  width: 39%;
}

#fb3{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

#fb3 div{
  display: flex;
  height: 100%;
  /* border: 1px solid ; */
  justify-content: center;
  align-items: center;
}

#footer-slider-1{
  min-width: 30%;
  animation: opacityIG 20s 1s infinite linear forwards;
}

#footer-slider-2,#footer-slider-3{
  min-width: 70%;
}

#footer-slider-3{
  animation: slideAnimation1 20s 1s infinite linear forwards;
}

.footer-slider-common{
  animation: slideAnimation2 5s 11s infinite linear forwards ;
}

.fb2-icons{
  height: 5vh;
  margin-left: 5%;
}

.fb1-icons{
  height: 5vh;
  margin-left: -15%;
}

.fb3-icons{
  height: 5vh;
  margin-left: 27%;
}

@keyframes slideAnimation1 {
  0%{
    transform: translateX(0%);
  }
  25%,75%{
    transform: translateX(-100%);
  }
  75%,100%{
    transform: translateX(-500%);
  }
}

@keyframes slideAnimation2 {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-400%);
  }
}

@keyframes opacityIG {
  0%{
    opacity: 0;
    transform: translateX(0%);
  }
  25%,75%{
    opacity: 1;
    transform: translateX(0%);
  }

  75%,100%{
    opacity: 1;
    transform: translateX(-1000%);
  }
}